* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Helvetica";
    h1 {
        font-size: 25px;
        text-align: center;
        padding: 20px 0;
        color: rgb(44, 43, 43);
    }
    .container {
        width: 90%;
        margin: 0 auto;
        .slider-wrapper {
            position: relative;
            width: 80%;
            max-width: 640px;
            margin: 20px auto;
            .slider {
                overflow: hidden;
                width: 100%;
                .slider-line {
                   display: flex;
                   transition: all ease 1s;
                }
            }
            .slider-button {
                width: 40px;
                height: 40px;
                position: absolute;
                border: none;
                outline: none;
                top: calc(50% - 20px);
                border-radius: 50%;
                -webkit-box-shadow: -1px 1px 8px 4px rgba(0,0,0,0.79); 
                box-shadow: -1px 1px 8px 4px rgba(0,0,0,0.79);
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: all ease 0.4s;
                img {
                    width: 20px;
                    position: relative;
                }     
            }
            .slider-button:hover{
                background-color: rgb(161, 161, 161);
            }
            .slider-prev {
                left: -21px;
                img {
                    right: 2px;
                }
            }
            .slider-next {
                right: -21px;
                img{
                    left: 2px;
                }
            }
        }
    }
}